.wizardli-content {
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.wizardli-bg {
  position: fixed;
  display:block;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(5px) brightness(50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wizardli-bg-fadein {
  animation: bgfade 7s;
}

@keyframes bgfade {
  from {opacity: 0;}
  to {opacity: 1;}
}



/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover-container {
  max-width: 48em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0.5rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .1rem solid transparent;
}

.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #007bff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
