<div class="cover-container h-100 w-100 d-flex p-3 mx-auto flex-column text-center">
    <header class="masthead mb-auto pb-3">
        <div class="inner">
            <a routerLink="/">
                <h3 class="masthead-brand">Wizardli</h3>
            </a>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                </a>
                <a class="nav-link" routerLink="about" routerLinkActive="active">
                    About
                </a>
                <a class="nav-link" routerLink="contact" routerLinkActive="active">
                    Contact
                </a>
            </nav>
        </div>
    </header>

    <div class="container">
        <router-outlet></router-outlet>
    </div>


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p class="small">Copyright @ Wizardli 2018
        </div>
    </footer>
</div>