<div class="row justify-content-center mt-3">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{ appService.headerText }}</h2>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-white-50">{{ appService.subText }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center pb-5 mb-5">
  <div class="row w-100" *ngIf="!appService.isDownloadComplete">
    <div class="col-lg-12">
      <form (ngSubmit)="onSubmit()">
        <div class="input-group mt-3 mb-5 mb-5">
          <input [disabled]="appService.isDownloadInProgress" [(ngModel)]="appService.videoLink"
            (input)="onVideoLinkChange($event.target.value)"
            class="pl-5 form-control bg-dark text-white border-secondary form-control-lg text-center" name="videoLinkEl"
            type="text" placeholder="Enter YouTube video link">
          <span class="input-group-append">
            <div *ngIf="isDownloadInProgress; then progressBox else searchBox"></div>
            <ng-template #searchBox>
              <div *ngIf="isVideoLinkValid; then downloadIcon else searchIcon"></div>
              <ng-template #searchIcon>
                <button class="btn btn-dark border-secondary border-left-0 px-3" type="submit">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </ng-template>
              <ng-template #downloadIcon>
                <button class="btn btn-primary px-3" type="submit">
                  <fa-icon [icon]="faDownload"></fa-icon>
                </button>
              </ng-template>
            </ng-template>
            <ng-template #progressBox>
              <button class="btn btn-dark border-secondary border-left-0 px-3" type="submit">
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </button>
            </ng-template>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row w-100 justify-content-center" *ngIf="appService.isDownloadComplete">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a [href]="appService.downloadLink" class="btn btn-lg btn-primary mt-3 w-100">
        Download Now
      </a>
    </div>
    <div (click)="resetDownloadUI()" class="col-lg-4 col-md-4 col-sm-12">
      <a class="btn btn-lg btn-light mt-3 w-100 text-dark">
        Go Back
      </a>
    </div>
  </div>
</div>