<div class="container justify-content-center mb-3">
  <div class="row">
    <div class="col-md-12">
      <h3>Download Policies</h3>
      <p>
        Maximum video length is 30 minutes. All downloads are maximum quality (default 320 Kbps) by default. Using our
        API server in other applications is strictly prohibited unless authorized by the Site Owner.
      </p><br />

      <h3>Terms of service</h3>
      <p>
        Wizardli reserves the right to block any video that is copyrighted, We do not allow
        downloading or converting of any material breaching copyright. By browsing this website you are allowing any of
        our partners to use cookies on your browser. The cookies may be used for advertisement purposes, in order to
        regulate promotional / advertiser banners.
      </p><br />

      <h3>Terms of usage</h3>
      <p>
        Wizardli reserves the right to block access to any user(s) abusing this service.
      </p><br />

      <h3>Legal policy</h3>
      <p>
        We aim to benefit both creators & general users by allowing access to this service, in
        order to keep this service Free & available you are responsable for the content that you convert/download on
        Wizardli, We will not be held accountable for any actions you take, It is your responsiblity to follow all
        legal
        requirements / Laws.
      </p>
    </div>
  </div>
</div>